@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Cores do var() */
:root{
    --cor-primaria: #FBFBFB;
    --cor-secundaria: #F5F5F5;
    --cor-terciaria: #D9D9D9;
    --cor-quartenaria: #C5BAFF;
    --cor-quintenaria: #000000;
}

/* Configurações de fonte (1rem = 16px) */
.texto-mine{
    font-family: "Pixelify Sans", serif;
}
.texto-comum{
    font-family: "Roboto", serif;
}

/* Reset das configurações CSS */
* {
    margin: 0;
    padding: 0;
}

/* Configurações gerais */
body{
    background-color: var(--cor-primaria);
}
a:hover{
    cursor: pointer;
}

/* Estilização do Header da página Index */
#main-header{
    height: 100px;
    padding: 0 2rem; 
    background-color: var(--cor-secundaria);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Configurando a logo do header */
#main-header .logo{
    font-size: 3rem;
}
#main-header .logo:hover{
    background: linear-gradient(180deg, #254a1b, #305c21,#8fd368, #6d4d3b, #493024, #9c6f52, #b1805e);
    background-clip: text;
    color: transparent;
}

/* Configurando a lista de navegação do header */
#main-nav ul{
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Caixinha dos elementos */
#main-nav ul li{
    width: 100px;
    background-color: var(--cor-terciaria);
    border-radius: 100px;
    font-size: 1.4rem;
    padding: 0.4rem 1.6rem;
    margin: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
#main-nav ul li:hover{
    background-color: var(--cor-quartenaria);
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}
/* Links */
#main-nav ul li a{
    color: var(--cor-quintenaria);
    text-decoration: none;
}
